<mat-horizontal-stepper #stepper>
  <mat-step>
    <ng-template matStepLabel>Select a connection type</ng-template>
    <section id="connectionOptions">
      <div class="connection" (click)="onConnectionSelected('MongoDB', stepper)">
        <object type="image/svg+xml" data="../../../../assets/mongodb.svg" style="height: 60px; width: 60px;">
          Your browser does not support SVG
        </object>
        <div class="mat-subheading-1">MongoDB</div>
      </div>
    </section>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Connection Information</ng-template>
    <section id="connectionSettings">
      <div>
        <mat-form-field>
          <input matInput placeholder="Connection String" [(ngModel)]="connectionConfig.connectionString" (change)="onConnectionStringChanged()"/>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Database" [(ngModel)]="connectionConfig.databaseName" (selectionChange)="onDatabaseChange()">
            <mat-option *ngFor="let database of databases" [value]="database.name">{{database.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </section>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Sources</ng-template>
    <section>
      <mat-selection-list #collectionsList>
        <mat-list-option *ngFor="let collection of collections" [value]="collection">
          {{collection.name}}
        </mat-list-option>
      </mat-selection-list>
      {{collectionsList.selectedOptions.selected.length}}
      <button mat-raised-button (click)="save()">Save</button>
    </section>
  </mat-step>
</mat-horizontal-stepper>
