<mat-sidenav-container #sidenav>
  <mat-sidenav mode="side">
    <mat-accordion *ngIf="mapping">
      <mat-expansion-panel *ngFor="let collection of collections">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div>
              <mat-icon [color]="collection.primary ? 'primary' : ''">stars</mat-icon>
            </div>
            <div>
              {{collection.collection}}
            </div>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="primary-container">
          <mat-slide-toggle [checked]="collection.primary" (change)="onPrimaryCollectionChange(collection)">Primary Collection</mat-slide-toggle>
        </div>
        <div id="fieldsContainer">
          <div *ngFor="let field of collection.fields" class="field-container" draggable="true" (dragstart)="onDragStart($event, collection.collection, field)">
            <div class="mat-body-1">{{field}}</div>
            <div class="dragger">
              <mat-icon>more_vert</mat-icon>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <div id="actions">
        <div class="action-icon" (click)="onNewModel()">
          <mat-icon>add_box</mat-icon>
        </div>
        <div class="action-icon" (click)="save()">
          <mat-icon>save</mat-icon>
        </div>
        <div class="action-icon" (click)="open()">
          <mat-icon>folder</mat-icon>
        </div>
      </div>
      <div id="collectionInfo" *ngIf="mapping">
        {{mapping.mappingName}}
      </div>
    </mat-toolbar>
    <app-mapping-configuration [mapping]="mapping"></app-mapping-configuration>
    <!--<div id="dropZone" (drop)="onDrop($event)" (dragover)="allowDrop($event)">-->
      <!--<div id="noColumns" *ngIf="displayColumns.length === 0">-->
        <!--Drag and Drop a field to get started-->
      <!--</div>-->
      <!--<table mat-table #table [dataSource]="dataSource" *ngIf="displayColumns.length > 0">-->
        <!--<ng-container *ngFor="let column of displayColumns" [matColumnDef]="column">-->
          <!--<th mat-header-cell *matHeaderCellDef>{{column}}</th>-->
          <!--<td mat-cell *matCellDef="let element;">{{element[column]}}</td>-->
        <!--</ng-container>-->

        <!--<tr mat-header-row *matHeaderRowDef="displayColumns"></tr>-->
        <!--<tr mat-row *matRowDef="let row; columns: displayColumns"></tr>-->
      <!--</table>-->
    <!--</div>-->
  </mat-sidenav-content>
</mat-sidenav-container>
