mat-sidenav-container {
  height: 100%;
  mat-sidenav {
    width: 250px;
  }
  #fieldsContainer {
    .field-container {
      display: grid;
      grid-template-columns: 1fr auto;
    }
  }
  #dropZone {
    table {
      width: 100%;
    }
  }
}
